<div class="m-clst table">
  {{#if audit == 0}}
  <div class="clst_action form-inline">
    <a class="btn btn-primary" href="/promotion/packetEdit">添加红包</a>
  </div>
  {{/if}}
  <table class="table  table-striped">
    <thead>
      <tr>
        <th>名称</th>
        <th>总可领数</th>
        <th>每个金额</th>
        <th>分配方式</th>
        <th>分配份数</th>
        <th class='th-xl' >有效时间</th>
        <th  on-click={{down=!down}}>
          审核时间
          <span class="glyphicon glyphicon-chevron-{{down?'down':'up'}}"></span>
        </th>
        <th>编辑人</th>
        <th>
          <select class='form-control form-control-sm' on-change={{this.onChange($event)}}>
            {{#if audit == 0}}
            <option value="-1">全部状态</option>
            <option value="0">新建</option>
            <option value="1">审核中</option>
            <option value="2">审核通过</option>
            <option value="3">审核拒绝</option>
            <option value="4">已删除</option>
            {{#else}}
            <option value="1">审核中</option>
            <option value="2">审核通过</option>
            {{/if}}
          </select>
        </th>
        <th>审核说明</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{#list list as act}}
        <tr class='animated' r-animation="on: enter; class: fadeIn">
          <td>{{ act.name }}</td>
          <td>{{ act.count }}</td>
          <td>{{ act.cash }}</td>
          <td>{{ act.distributeRule|ruleName }}</td>
          <td>{{ act.copies }}</td>
          <td>
           {{ @(act.startTime|format) }}
           至
           {{ @(act.endTime|format) }} 
          </td>
          <td>{{@(act.auditTime|format)}}</td>
          <td>{{@(act.applyUserName)}}</td>
          <td>{{act.auditState|statusName}}</td>
          <td>{{@(act.reason)}}</td>
          <td>
            <a href="/promotion/packetEdit?id={{act.id}}&editable={{(act.auditState===0 ||act.auditState===3)?1:0}}" class='btn btn-primary btn-xs'>{{(act.auditState===0 ||act.auditState===3) ?'编辑': '查看'}}</a>
            {{#if act.auditState ===0}}
              <a href="#" on-click={{this.operate(act.id,"auditcommit",0)}} class='btn btn-primary btn-xs'>提交</a>
              <a href="#" class='btn btn-dft btn-xs' on-click={{this.operate(act.id,"delete",0)}}>删除</a>
            {{#elseif act.auditState === 1 && audit === 1}}
              <a href="#" class='btn btn-dft btn-xs' on-click={{this.operate(act.id,"audit",2)}}>通过</a>
              <a href="#" class='btn btn-dft btn-xs' on-click={{this.operate(act.id,"audit",3)}}>拒绝</a>
              <!--<a href="#" class='btn btn-dft btn-xs' on-click={{act.auditState=0}}>撤销</a>-->
            {{#elseif act.auditState === 2 && audit === 1}}
            <a href="#" class='btn btn-primary btn-xs' on-click={{this.operate(act.id,"discard",0)}}>撤销</a>
            <!--<a href="#" class='btn btn-dft btn-xs' on-click={{act.auditState=4}} >作废</a>-->
            {{#elseif act.auditState === 3 }}
             <a href="#" class='btn btn-dft btn-xs' on-click={{this.operate(act.id,"delete",5)}}>删除</a>
            {{/if}}
       </td>
     </tr>
   {{/list}}
 </tbody>
</table>
<pager total={{Math.ceil(total/limit)}} current={{current}}></pager>
</div>


