<form class="form-horizontal" role="form">
<div class="form-group">
  <label for="name" class="col-sm-2 control-label"><span class="u-required">*</span>红包名称</label>
  <div class="col-sm-8">
    <input type="name" class="form-control" id="name" r-model="name">
    <span class="help-block">{{name.length}}/15</span>
  </div>
</div>
<div class="form-group">
  <label for="desc" class="col-sm-2 control-label"><span class="u-required">*</span>红包描述</label>
  <div class="col-sm-8">
    <textarea class="form-control" id="desc" r-model="description"></textarea>
    <span class="help-block">{{description.length}}/60</span>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label"><span class="u-required">*</span>有效时间</label>
  <div class="col-sm-4">
    <datepicker select={{startTime}}></datepicker>
  </div>
  <div class="col-sm-4">
    <datepicker select={{endTime}}></datepicker>
  </div>
</div>
<div class="form-group">
  <label for="name" class="col-sm-2 control-label"><span class="u-required">*</span>是否分享</label>
  <div class="col-sm-8">
    <div class="radio">
      <label>
        <input type="radio" value="1" name="shareString"  r-model='shareString'>是
      </label>
      <label>
        <input type="radio" value="0" name="shareString"  r-model='shareString'>否
      </label>
    </div>
    <span class="help-block">备注：不可分享的红包，需绑定用户，发到指定用户；可分享的红包，在领取时绑定用户；</span>
  </div>
</div>
{{#if share == true}}
<div class="form-group">
  <label for="unitPrice" class="col-sm-2 control-label"><span class="u-required">*</span>每个金额</label>
  <div class="col-sm-8">
    <input type="unitPrice" class="form-control"  id="unitPrice" r-model="cash">
  </div>
</div>
<div class="form-group">
  <label for="total" class="col-sm-2 control-label"><span class="u-required">*</span>红包数量</label>
  <div class="col-sm-8">
    <input type="total" class="form-control" id="total" r-model="count">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label"><span class="u-required">*</span>裂变方式</label>
  <div class="col-sm-8">
    <div class="radio">
      <label>
        <input type="radio" name="disType"  value="EQUALLY" r-model="distributeRule">均分
      </label>
      <label>
        <input type="radio" name="disType" value="RANDOM" r-model="distributeRule">随机
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="shareNum" class="col-sm-2 control-label"><span class="u-required">*</span>裂变份数</label>
  <div class="col-sm-8">
    <input type="shareNum" class="form-control" id="shareNum" r-model="copies">
    <span class="help-block">备注：随机分配时单个红包最低金额需大于均分的10%；可分享的有效期统一为7天；</span>
  </div>
</div>
{{#elseif share == false}}
  <div class="form-group">
    <label for="unitPrice" class="col-sm-2 control-label"><span class="u-required">*</span>红包金额</label>
    <div class="col-sm-8">
      <input type="unitPrice" class="form-control"  id="unitPrice" r-model="cash">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><span class="u-required">*</span>绑定用户</label>
    <div class="col-sm-8">
      <div class="radio">
        <label>
          <input type="radio" name="binderType"  value="USER_BINDER" r-model="binderType">导入用户名单绑定
        </label>
      </div>
      <div>
        <textarea r-hide={{binderType != "USER_BINDER"}} class="form-control"  r-model="users" placeholder="输入用户ID，多个用户ID以,（英文逗号）隔开"></textarea>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="binderType" value="SYSTEM_BINDER" r-model="binderType">系统自动绑定
        </label>
      </div>
    </div>
  </div>
{{/if}}
</form>