.#<uispace>{width:1090px;padding-top:20px;color:#666;}
.#<uispace> .b{background:url(#<root>images/sort.png) no-repeat 60px 9px;}
.#<uispace> .zmenu{padding-left:12px;}
.#<uispace> .zcat{line-height:22px;}
.#<uispace> .zcat label{float:left;width:50px;margin-right:-50px;font-weight:bold;}
.#<uispace> .zcat .lst{margin-left:50px;white-space:nowrap;word-break:normal;}
.#<uispace> .zcat a{float:left;padding:4px 14px;margin:1px;}
.#<uispace> .zcat a:hover,
.#<uispace> .zcat a.js-selected{padding:3px 13px;border:1px solid #d951b5;color:#d951b5;}
.#<uispace> .zflt{margin-top:22px;*margin-top:17px;padding-left:2px;vertical-align:middle;}
.#<uispace> .zflt .fl{float:left;}
.#<uispace> .zsrt{white-space:nowrap;}
.#<uispace> .zsrt a{position:relative;margin-right:-1px;padding:5px 32px 7px;*padding-bottom:5px;border:1px solid #dfe0e3;zoom:1;}
.#<uispace> .zsrt a:hover,
.#<uispace> .zsrt a.js-selected{z-index:2;}
.#<uispace> .zsrt .d:hover,
.#<uispace> .zsrt .d.js-selected{background-color:#f5f5f5;}
.#<uispace> .zsrt .b:hover,
.#<uispace> .zsrt .b.js-selected{border-color:#d951b5;color:#d951b5;background-position:60px -31px;}
.#<uispace> .zsrt .js-toggle:hover,
.#<uispace> .zsrt .b.js-toggle{background-position:60px -71px;}
.#<uispace> .zsrt #c-a1:hover,
.#<uispace> .zsrt #c-a1.js-selected{background-position:60px -71px;}
.#<uispace> .zsrt #c-a1.js-toggle:hover,
.#<uispace> .zsrt #c-a1.js-toggle{background-position:60px -31px;}
.#<uispace> .zprc{margin-left:39px;*padding:7px 0;}
.#<uispace> .zprc .b,
.#<uispace> .zprc label{padding:5px 0 7px 9px;*padding:6px 0 5px 9px;border:1px solid #dfe0e3;}
.#<uispace> .zprc label input{width:35px;padding-left:3px;background:none;border:none;}
.#<uispace> .zprc .p{margin:0 2px;}
.#<uispace> .zprc .b{margin-left:4px;padding-right:16px;background-position:8px -112px;background-color:#f5f5f5;}
.#<uispace> .zprc .b:hover{background-color:#ececec;}
.#<uispace> .zldg{width:100px;padding-left:30px;margin:100px auto;font-size:14px;color:#666;text-align:left;background:url(#<root>images/loading.gif) no-repeat left center;}
.#<uispace> .zlist{padding:36px 0 0 7px;*padding-top:28px;text-align:center;}
.#<uispace> .zpage{padding:20px 8px 20px 0;text-align:right;}

.#<uispace>-it{float:left;width:254px;margin:0 8px 28px 7px;_display:inline;_margin-bottom:25px;text-align:left;}
.#<uispace>-it .pic{height:320px;}
.#<uispace>-it .pic img{width:254px;height:320px;}
.#<uispace>-it .pic .msk{width:100%;height:320px;}
.#<uispace>-it .pic .out{top:106px;left:74px;}
.#<uispace>-it .pic .opp{top:114px;left:81px;}

