<meta charset="utf-8"/>
<textarea name="txt" id="builder-module-layout">
  <div class="g-builder f-cb">
    <div class="g-side j-flag"></div>
    <form class="g-mxny g-xact j-flag" method="POST" target="_NETPREVIEW_">
      <input type="hidden" name="pageId"/>
      <input type="hidden" name="layout"/>
      <button type="button" class="btn btn-default" data-do="back">取消</button>
      <button type="button" class="btn btn-primary" data-do="preview">预览</button>
      <button type="button" class="btn btn-primary" data-do="save" title="ctrl+s可快速保存装修效果">保存</button>
      <button type="button" class="btn btn-primary" data-do="submit">提交</button>
    </form>
    <div class="g-mxny g-main j-flag"></div>
    <div class="g-fold j-flag" title="隐藏侧边">&nbsp;</div>
  </div>
</textarea>
<!-- @TEMPLATE -->
<textarea name="js" data-src="./module.js"></textarea>
<!-- /@TEMPLATE -->