.#<uispace>{}
.bd{padding:10px;}
.m-form .fitm {
    margin: 0 0 14px;
    height: 32px;
}

.m-form .fitm-btns {
    margin: 0 0 0 56px;
    padding: 14px 0 0;
}

.m-form .fitm-btns a {
    margin-right: 10px;
}

.m-form .fitm .flab {
    float: left;
    width: 56px;
    font-size: 14px;
    line-height: 32px;
}

.m-form .fitm .flab-1 {
    float: none;
    padding: 0 10px;
    color: #333;
    *position: relative;
    *top: -5px;
}

.m-form .fitm .flab .important {
    color: #f20;
    font-size: 16px;
    margin-right: 3px;
    margin-left: -10px;
}

.m-form .fitm .fipt {
    position: relative;
    zoom: 1;
    float: left;
    line-height: 32px;
    color: #666;
    vertical-align: middle;
}

.m-form .fitm .fipt .msg {
    margin: 0 0 0 12px;
    color: #999;
}

.m-form .fitm .fipt .w-select {
    margin-right: 6px;
    border:1px solid #ccc;
}
.w-select-addr {
    height: 30px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    border: 1px solid #d3d3d3;
    width: 270px;
    background: #fff;
}

.w-select-addr .arrow {
    background-position: -275px -26px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 25px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.w-select-addr .select,
.w-select-addr label {
    position: absolute;
    left: 10px;
    top: 0;
    width: 230px;
}

.w-select-addr .select {
    border: 0;
    height: 27px;
    line-height: 27px;
}

.w-select-addr .select-1 {
    line-height: normal;
}

.w-select-addr .layer {
    position: absolute;
    z-index: 10;
    left: -1px;
    top: 30px!important;
    width: 270px;
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #333;
}

.w-select-addr .tabs {
    height: 33px;
    overflow: hidden;
}

.w-select-addr .tabs .itm {
    float: left;
    display: inline-block;
    width: 67px;
    height: 32px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
    background: #eaeaea;
    text-align: center;
    line-height: 32px;
}


.w-select-addr .tabs .first {
    width: 66px;
    border-left: 0;
}

.w-select-addr .tabs .crt {
    border-bottom-color: #fff;
    background: #fff;
    color: #f63760;
}

.w-select-addr .tabs-1 .itm {
    width: 90px;
}

.w-select-addr .tabs-1 .first {
    width: 88px;
}

.w-select-addr .cont {
    padding: 10px 0 10px 10px;
}

.w-select-addr .cont .itm {
    display: inline-block;
    margin: 0 16px 0 0;
    line-height: 26px;
}

.w-select-addr .cont .active {
    color: #f63760;
}

.w-select-addr .pro .tit {
    float: left;
    width: 40px;
}

.w-select-addr .pro .itms {
    width: 250px;
}

.w-select-addr .pro span {
    display: inline-block;
    line-height: 26px;
}

.w-select-addr .pro .itm {
    margin: 0 18px 0 0;
}

.w-select-addr .street .btm {
    border-top: 1px solid #ccc;
    margin-right: 20px;
}

.w-select-addr-1 {
    width: 210px;
    margin-right: 0 !important;
}

.w-select-addr-1 .select {
    width: 170px;
    line-height: normal;
}

.w-select-addr-1 .js-mhd-parent {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    left: 0;
    top: 0;
    position: static;
}

.w-select-addr-1 .layer {
    width: 210px;
}

.w-select-addr-1 .tabs .itm {
    width: 104px;
}

.w-select-addr-1 .tabs .first {
    width: 105px;
}

.w-select-addr-1 .cont {
    padding: 12px 0 12px 10px;
}

.w-select-addr-1 .cont .itm {
    margin: 0 10px 0 0;
}

.w-select-addr-1 .pro .tit {
    width: 30px;
}

.w-select-addr-1 .pro .itms {
    width: 170px;
}

.w-select-addr-1 .pro .itm {
    margin: 0 10px 0 0;
}

.w-select-addr-1 .city .itm {
    margin: 0 10px 0 5px;
}
.m-form .fitm .fipt .w-chkbox,
.m-form .fitm .fipt .w-radiobox {
    margin-right: 25px;
    _position: relative;
    _top: 10px;
}

.m-form .fitm .err {
    color: #f20;
}

.m-form .fitm .err-1 {
    margin-left: 5px;
}

.m-form .fitm .suc {
    color: #9fb55d;
}

.m-form-addr {
    width: 532px;
}

.m-form-addr .fitm-btns {
    margin: 0 0 0 90px;
    padding: 0;
    overflow: hidden;
}

.m-form-addr .fitm .flab {
    width: 90px;
}

.m-form-addr .fitm .fipt {
    width: 442px;
}

.m-form-addr .fitm .fipt .tip {
    float: right;
    margin-right: 10px;
    color: #999;
}

.m-form-addr .fitm .fipt .w-chkbox {
    float: left;
    color: #333;
}

.m-form-addr .fitm .fipt .w-btn3 {
    float: right;
}

.m-form-addr .fitm .fipt-addr {
    z-index: 1;
}

.m-form-addr .fitm-1 {
    height: auto;
}

.m-form-addr-1 {
    padding: 40px 0 160px 250px;
}

.m-form-addr-1 .fitm-btns {
    overflow: visible;
    padding-top: 12px;
}

.m-form-addr-1 .fitm .fipt .w-btn3 {
    float: left;
}
.f-fr{
	display:none;
}
.tel{display:none;}
.w-btn3 {
    display: inline-block;
    padding: 6px 29px;
    font-size: 14px;
    line-height: 20px;
    background: #f00;
}

.w-btn3,
.w-btn3:hover {
    color: #fff;
}

.w-btn3-3 {
    font-size: 16px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
}

.w-btn3-1,
.w-btn3-1:hover {
    background: #9b9ea5;
}

.w-btn3-2 {
    width: 220px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.w-btn3-3 {
    background: #f63760;
}

.w-btn3-3:hover {
    background: #863aa3;
}

.w-btn4 {
    display: inline-block;
    *zoom: 1;
    width: 160px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #f63760;
}

.w-btn4:hover {
    color: #fff;
    background: #fd4470;
}

.w-btn4-dis,
.w-btn4-dis:hover {
    background-color: #ccc;
}

.w-btn4-3:hover {
    color: #fff;
    background: #fd4470;
}

.w-btn4-3 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
}

.w-btn4-1 {
    width: 270px;
    height: 48px;
    line-height: 48px;
}
.w-chkbox{display:none;}
.w-ipt {
    padding: 6px 9px;
    height: 28px;
    line-height: 28px;
    width: 128px;
    border: 1px solid #d3d3d3;
    margin-right: 10px;
}