<div id="step4-template-box" class="f-dn">
<textarea name="jst" id="step4-jst-returnstatusfail">
   <div class="m-box">
    <div class="m-returnrst">
        <div class="hd">
            <h2>退款失败！</h2>
        </div>
        <div class="bd"> 
          <p>拒绝原因：${extInfo}</p>
          <p>如您对退款结果有异议，可联系<a href="javascript:void(0)" id="service">在线客服</a>处理</p>
        </div>
    </div>
  </div>
</textarea>
<textarea name='ntp' id='step4-ntp-returnstatuspass'>
<div class="m-box">
    <div class="m-returnrst">
        <div class="hd succss">
            <h2>退款成功！</h2>
        </div>
    </div>
  </div>
</textarea>

</div>