<table class="table table-striped">
  <thead>
    <tr>
      <th>商品条码</th>
      <th>SKU</th>
      <th>商品名称</th>
      <th>尺码</th>
      <th>颜色</th>
      <th>数量</th>
      <th>PO单编号</th>
      <th>档期时间</th>
    </tr>
  </thead>
  <tbody>
    {{#list this.getCurrents(current) as tpl}}
      <tr>
        <td>{{tpl.codeNO}}</td>
        <td>{{tpl.skuId}}</td>
        <td>{{tpl.productName}}</td>
        <td>{{tpl.size}}</td>
        <td>{{tpl.color}}</td>
        <td>{{tpl.skuQuantity}}</td>
        <td>{{tpl.poOrderId}}</td>
        <td>{{tpl.startTime|format}}至{{tpl.endTime|format}}</td>
      </tr>
    {{/list}}
  </tbody>
</table>
<div class="text-right">
  <pager total={{Math.ceil(lists.length / 10)}} current={{current}} ></pager>
</div>