.#<uispace>{line-height:36px;font-size:12px;text-align:left;line-height:22px;width:400px;background:#fff;}
.#<uispace> .btns{margin-top:30px;text-align:center;}
.#<uispace> .btns input{margin-right:20px}
.#<uispace> .m-form{margin:0 auto;margin-top:20px;display:block;width: 300px;}