.u-wsearch{left:10px;top:2px;color:#fff;}
.u-wsearch:hover{color:#428bca;text-decoration:none;}
.f-wminh700{min-height:700px;}
.f-wminh264{min-height:264px;}
.u-wlabel{height:26px;line-height:26px;}
.u-wselect{height:26px;line-height:26px;width:80px;}
.u-wipt1{width:50px;}
.u-wipt2{width:150px;}
.u-wipt3{width:250px;}
.m-wtableb{border:1px solid #eee;border-top-width:0;}
.m-wtableb b{margin:0 10px 0 3px;}
.m-winform{padding:10px;margin:10px;width:350px;}
.m-winform-1{width:510px;}
.m-winform .line{min-height:30px;line-height:30px;}
.m-winform .lineri{display:inline-block;width:270px;}
.m-winform .btns{text-align:center;}
.m-winform .f-fc1{color:#f17288;}
.m-winform label{font-weight:normal;}
.m-winform input{line-height:24px;height:24px;}
.m-winform span{height:26px;line-height:26px;}
.m-winform .u-textarea{width:100%;}
.m-winbot{border-top:1px solid #ccc;padding:10px 0 20px 0;}
.m-winbot .btns{text-align:center;}
.m-wtable-1 .wproduct{height:100px;overflow-y:scroll;}
.u-dtime{height:34px;width:50px;margin-left:-5px;padding-bottom:3px;}
.f-pdl_100{padding-left:100px;}
.j-invalid{border-color:#d9534f;-webkit-box-shadow:inset 0px 0px 3px #d9534f;box-shadow:inset 0px 0px 3px #d9534f;}
.w-ipt{padding:6px 9px;height:18px;line-height:18px;width:128px;border:1px solid #d3d3d3;margin-right:10px;}
.w-ipt-1{width:207px;}
.w-ipt-2{width:130px;}
.w-ipt-3{width:100px;}
.w-ipt-4{width:412px;}
.w-ipt-5{width:192px;}
.w-ipt-6{width:360px;padding-top:8px;padding-bottom:8px;}
.w-ipt-7{width:60px;}
.w-ipt-8{width:115px;}
.w-ipt-9{width:160px;}
.w-select{height:30px;width:140px;display:inline-block;vertical-align:baseline;zoom:1;*display:inline;*vertical-align:auto;position:relative;border:1px solid #d3d3d3;}
.w-select .arrow{background-position:-275px -26px;display:inline-block;vertical-align:baseline;zoom:1;*display:inline;*vertical-align:auto;width:25px;height:30px;position:absolute;right:0;top:0;z-index:0;}
.w-select .arrow-1{background-position:-312px -130px;}
.w-select .arrow-2{background-position:-354px -128px;}
.w-select select{border:0;height:100%;width:100%;position:absolute;top:0;left:0;filter:alpha(opacity = 0);opacity:0;z-index:1;}
.w-select select option{text-indent:10px;height:20px;}
.w-select-1{width:158px;height:34px;}
.w-select-2{width:378px;height:36px;}
.w-select-long{width:380px;height:36px;line-height:36px;}
.w-select-long select{height:100%;width:100%;position:absolute;top:0;left:0;filter:alpha(opacity = 0);opacity:0;z-index:1;}
.w-select-long select option{text-indent:10px;padding:10px 0;}
.w-select-addr{width:270px;background:#fff;}
.w-select-addr .select,.w-select-addr label{position:absolute;left:10px;top:0;width:230px;}
.w-select-addr .select{border:0;height:28px;line-height:28px;}
.w-select-addr .layer{position:absolute;z-index:10;left:-1px;top:30px;width:270px;border:1px solid #dcdcdc;background:#fff;color:#333;}
.w-select-addr .tabs{height:33px;overflow:hidden;}
.w-select-addr .tabs .itm{float:left;display:inline-block;width:67px;height:32px;border:1px solid #ccc;border-width:0 0 1px 1px;background:#eaeaea;text-align:center;line-height:32px;}
.w-select-addr .tabs .itm.dn{display:none;}
.w-select-addr .tabs .first{width:66px;border-left:0;}
.w-select-addr .tabs .crt{border-bottom-color:#fff;background:#fff;color:#68449e;}
.w-select-addr .tabs-1 .itm{width:90px;}
.w-select-addr .tabs-1 .first{width:88px;}
.w-select-addr .cont{padding:22px 0 22px 20px;}
.w-select-addr .cont .itm{display:inline-block;margin:0 16px 0 0;line-height:26px;}
.w-select-addr .cont .active{color:#68449e;}
.w-select-addr .pro{margin-left:-40px;width:290px;}
.w-select-addr .pro li{list-style:none;}
.w-select-addr .pro .tit{float:left;width:40px;}
.w-select-addr .pro .itms{float:right;width:210px;}
.w-select-addr .pro span{display:inline-block;line-height:26px;}
.w-select-addr .pro .itm{margin:0 18px 0 0;}
.w-select-addr .street .btm{border-top:1px solid #ccc;margin-right:20px;}
.w-select-addr-1{width:210px;margin-right:0 !important;}
.w-select-addr-1 .select{width:170px;}
.w-select-addr-1 .layer{width:210px;}
.w-select-addr-1 .tabs .itm{width:104px;}
.w-select-addr-1 .tabs .first{width:105px;}
.w-select-addr-1 .cont{padding:12px 0 12px 10px;}
.w-select-addr-1 .cont .itm{margin:0 10px 0 0;}
.w-select-addr-1 .pro .tit{width:30px;}
.w-select-addr-1 .pro .itms{width:170px;}
.w-select-addr-1 .pro .itm{margin:0 10px 0 0;}
.w-select-addr-1 .city .itm{margin:0 10px 0 5px;}
div.orderDetail .logPanel{width:400px;height:300px;}
div.orderDetail .noLeft{padding-left:0;}
div.orderDetail .noRight{padding-right:0;}
div.orderDetail .f-tar{padding:0;}
div.orderDetail .minWidth{min-width:93px;}
div.orderDetail .expressPanel{height:110px;border:1px solid #ccc;background:#eee;border-radius:4px;padding:15px;}
div.orderDetail .panel{margin-bottom:0;}
#search{cursor:pointer;top:0;}
div.orderDetail div.panel{position:relative;}
div.editingBtn,div.editBtn{position:absolute;right:15px;top:25px;text-align:right;z-index:99;}
div.editing,div.editingBtn{display:none;}
div.toolbar{padding:15px;position:absolute;width:100%;left:0;top:0;}
div.toolbar .detail,div.toolbar .editing{text-align:right;}
div.orderbox .control-label{padding-right:0;}
div.orderbox .sform div{padding:0;}
div.cartPrice{padding:5px;background:#eee;text-align:right;padding-top:10px;}
div.cartPrice p{padding-right:10px;}
#editPrice{margin-left:20px;}
div.orderbox a.active{font-weight:bold;color:#000;}
div.orderbox .tip{text-align:center;padding-top:50px;}
div.logisticsBox{height:150px;overflow:auto;}
.print{display:none;}
.inner{display:block;}
.m-header{display:none;}
@media print{body{overflow:hidden;}
.g-sd,.m-header,.orderDetail{display:none;}
.print{display:block;}
.inner{display:none;}
.print .col-sm-1{float:left;width:100px;}
}
div.orderDetail img{width:50px;height:50px;border:1px solid #eee;margin-right:5px;}
div.orderDetail .table td{vertical-align:middle;}
div.cartPrice{position:relative;}
#viewCoupon{color:#f00;font-weight:bold;cursor:pointer;float:right;}
.clearfix:after{content:".";font-size:12px;height:0;display:block;visibility:hidden;clear:both;}
div.couponBox{position:absolute;right:200px;bottom:10px;padding:10px;background:#fff;z-index:99;width:235px;height:94px;background:url("/res/images/coupon-suc-bg.png") repeat-x left top;}
div.couponBox .type{border-right:1px dashed #ff8981;color:#fff;float:left;height:100%;position:relative;width:70px;}
div.couponBox .type em{font-size:14px;left:0;top:0;position:absolute;}
div.couponBox .type span{font-family:"Arial";font-size:48px;font-weight:bold;position:absolute;left:8px;top:0;}
div.couponBox .info{text-align:left;}
div.couponBox .info span{color:#fff;display:block;font-size:6px;padding-bottom:2px;}
div.couponBox .info .des{font-size:15px;height:20px;line-height:20px;padding-top:0;}
div.modal-dialog{width:450px !important;text-align:left;margin-top:100px;}
div.modal-dialog h4{font-size:14px;}
