.w-win-usedDetail{width:500px;padding:0;}
.w-win-usedDetail .bd{padding:16px 60px 34px;}
.w-win-usedDetail .bd p{padding:0 0 10px;vertical-align:bottom;}
.w-win-usedDetail .bd p .itm{margin-right:25px;}
.w-win-usedDetail .bd .m-table th,.w-win-usedDetail-1 .bd .m-table td{padding-top:5px;padding-bottom:5px;}
.w-win-usedDetail .bd .m-table th{font-size:12px;}
.w-win-usedDetail .btns{margin:44px 0 0;text-align:right;}