<div class="m-clst table">
  <div class="clst_action form-inline">
    <div class="input-group">
        <input type="text" class="form-control" r-model={{qvalue}} on-enter='updatelist'>
        <span class="input-group-btn">
          <button class="btn btn-default" on-click='updatelist' type="button">搜索</button>
        </span>
      </div><!-- /input-group -->
  </div>
  <table class="table  table-striped">
    <thead>
      <tr>
        <th>选择</th>
        <th>名称</th>
        <th>每个金额</th>
        <th>总可领数</th>
        <th>分配份数</th>
        <th>红包类型</th>
        <th class='th-xl'>有效时间</th>
      </tr>
    </thead>
    <tbody>
      {{#list list as packet}}
        <tr class='animated' on-click={{this.select(packet)}} >
          <td>
            <span class="glyphicon glyphicon-ok {{(!!selected && selected.id==packet.id)? 'text-primary': 'text-warning'}}"></span>
          </td>
          <td>{{ packet.name }}</td>
          <td>{{ packet.cash }}</td>
          <td>{{ packet.count }}</td>
          <td>{{ packet.copies }}</td>
          <td>{{ packet.share?"分享":"不分享" }}</td>
          <td>
            {{ packet.startTime|format}}
            到
            {{ packet.endTime|format }}
          </td>
        </tr>
      {{/list}}
    </tbody>
  </table>
  <pager total={{Math.ceil(total/limit)}} current={{current}}></pager> 
</div>


