<!-- Modal -->
<div class="modal fade in show" >
  <div class="modal-dialog m-window" style="width: {{width? width: 640}}px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" on-click={{this.close()}}><span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only" on-click={{this.close()}}>Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{title || 'Modal title'}}</h4>
      </div>
      <div class="modal-body">
        {{#include content ||this.content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" on-click={{this.close()}}>{{coloseText || "关闭" }}</button>
        <button type="button" class="btn btn-primary" on-click={{this.confirm()}}>{{confirmTitle || "确认"}}</button>
      </div>
    </div>
  </div>
</div>



