.infowin{
	width:700px;
}
.w-select-addr {
    height: 30px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    background: #fff;
    width: 270px;
}
.w-select-addr .pro{
	padding:0;	
}
.w-select-addr .arrow {
    background-position: -275px -26px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 25px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.w-select-addr .select,
.w-select-addr label {
    position: absolute;
    left: 10px;
    top: 0;
    width: 230px;
}

.w-select-addr .select {
    border: 0;
    height: 27px;
    line-height: 27px;
}

.w-select-addr .select-1 {
    line-height: normal;
}

.w-select-addr .layer {
    position: absolute;
    z-index: 10;
    left: -1px;
    top: 0;
    width: 270px;
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #333;
}

.w-select-addr .tabs {
    height: 33px;
    overflow: hidden;
}

.w-select-addr .tabs .itm {
    float: left;
    display: inline-block;
    width: 67px;
    height: 32px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
    background: #eaeaea;
    text-align: center;
    line-height: 32px;
}

.w-select-addr .tabs .itm.dn {
    display: none;
}

.w-select-addr .tabs .first {
    width: 66px;
    border-left: 0;
}

.w-select-addr .tabs .crt {
    border-bottom-color: #fff;
    background: #fff;
    color: #f63760;
}

.w-select-addr .tabs-1 .itm {
    width: 90px;
}

.w-select-addr .tabs-1 .first {
    width: 88px;
}

.w-select-addr .cont {
    padding: 10px 0 0 20px;
}

.w-select-addr .cont .itm {
    display: inline-block;
    margin: 0 16px 0 0;
    line-height: 26px;
}

.w-select-addr .cont .active {
    color: #f63760;
}

.w-select-addr .pro .tit {
    float: left;
    width: 40px;
}

.w-select-addr .pro .itms {
    width: auto;
}

.w-select-addr .pro span {
    display: inline-block;
    line-height: 26px;
}

.w-select-addr .pro .itm {
    margin: 0 18px 0 0;
}

.w-select-addr .street .btm {
    border-top: 1px solid #ccc;
    margin-right: 20px;
    display:none;
}
.w-select-addr .form-control[readonly]{
	background:#fff;
	cursor:pointer;
}
.required{
	color:red;
	line-height: 22px;
	display: inline-block;
}
.content-box{
	margin:30px auto;
}
.content-box .form-group{
	margin-bottom:20px;
}
.bindedUserList{
	list-style:none;
	padding-left:0px;
}
.bindedUserList .j-flag{
	visibility:hidden;
	padding:0px;
	float:right;
	margin-right:15px;
	margin-top:5px;
}
.bindedUserList .liElement{
	height:30px;
	line-height:30px;
}
.bindedUserList .liElement:hover{
	background: #ffffcc;
}
.bindedUserList .liElement:hover .j-flag{
	visibility:visible;
	padding:0px;
}

.searchUserList{
	z-index:10;
	width:638px;
	position:absolute;
	border: 1px solid #dedede;
	background: #fff;
	height:300px;
	overflow-y:auto;
}

.searchUserList li label{
	padding:0px 12px;
}

.userList-hide{
	display:none;
}

.userList-show{
	display:block;
}

.label-width{
	width:570px;
	overflow:hidden;
}
.pagination{
	margin:0px;
}
.total{
	float:left;
	margin-top:8px;
}