 <table class="table  table-striped">
   <thead>
     <tr>
       <th>日期</th>
       <th>仓储服务商</th>
       <th>仓库</th>
       <th>供应商</th>
       <th>品牌</th>
       <th>退供单号</th>
       <th>退货状态</th>
       <th>退货批次</th>
       <th>下单时间</th>
       <th>发出时间</th>
       <th>应退数量</th>
       <th>实退数量</th>
       <th>退货方式</th>
       <th>退货快递</th>
       <th>物流单号</th>
       <th>件数</th>
       <th>包裹总重量</th>
     </tr>
   </thead>
   <tbody>
     {{#list list as item}}
       <tr class='animated' r-animation="on: enter; class: fadeIn">
         <td>2014-01-11</td>
	       <td>11</td>
	       <td>11</td>
	       <td>11</td>
	       <td>11</td>
	       <td>1</td>
	       <td>1</td>
	       <td>1</td>
	       <td>1</td>
	       <td>1</td>
	       <td>11</td>
	       <td>1</td>
         <td>1</td>
         <td>1</td>
         <td>1</td>
         <td>1</td>
         <td>11</td>
       </tr>
     {{/list}}
   </tbody>
 </table>


