 <table class="table  table-striped">
   <thead>
     <tr>
       <th>物流商</th>
       <th>仓库</th>
       <th>日期</th>
       <th>供应商</th>
       <th>品牌</th>
       <th>订单号</th>
       <th>订单总金额</th>
       <th>订单商品数量</th>
       <th>缺货SKU</th>
       <th>缺货数量</th>
       <th>缺货商品金额</th>
     </tr>
   </thead>
   <tbody>
     {{#list list as item}}
       <tr class='animated' r-animation="on: enter; class: fadeIn">
         <td>ems</td>
	       <td>11</td>
	       <td>2014-01-11</td>
	       <td>11</td>
	       <td>11</td>
	       <td>1</td>
	       <td>1</td>
	       <td>1</td>
	       <td>1</td>
	       <td>1</td>
	       <td>11</td>
       </tr>
     {{/list}}
   </tbody>
 </table>


