<div class="m-wtable" id="wtable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>商品名称</th>
        <th>单价</th>
        <th>结算价</th>
        <th>数量</th>
        <th>入库数量</th>
        <th>入库状态</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>
      {{#list list as tpl}}
        <tr>
          <td>【{{tpl.brandName}}】 {{tpl.colorName}} {{tpl.name}} {{tpl.attributes['尺码']}}</td>
          <td>{{tpl.price}}</td>
          <td>{{tpl.pay}}</td>
          <td>{{tpl.number}}</td>
          <td>{{tpl.confirmNumber}}</td>
          <td>{{tpl.status}}</td>
          <td>{{tpl.remark}}</td>
        </tr>
      {{/list}}
    </tbody>
  </table>
</div>

<div class="text-right">
  <pager total={{Math.ceil(total / 10)}} current={{current}} ></pager>
</div>